<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <h1 style="color:darkblue; text-align: center" >To Do App</h1>
    <br>
    <div class = "container">
    <form action="/add" method="post">
        <div>            
            <div class="input-group">
                <span class="input-group-addon">Todo Title </span>
                <input type="text" name="title" placeholder="Enter Todo..." class = "form-control">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>

    <hr>

    {% for todo in todo_list %}

    <p>{{todo.id }} | {{ todo.title }}</p>

    {% if todo.complete == False %}
    <span>Not Complete</span>
    {% else %}
    <span>Completed</span>
    {% endif %}

    <a href="/update/{{ todo.id }}">Update</a>
    <a href="/delete/{{ todo.id }}">Delete</a>

    {% endfor %}
</div>
</body>

</html>